<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
 <style>
    * {
        box-sizing: border-box;
    }
     #head{
        height: 53px;
        background-color: rgba(231, 228, 231, 0.968);
    }
    #head_link{
      width:100% ;
      height: 30px;
      margin-top: 10px;
      text-align: center;
      background-color: rgb(246, 249, 249);
      padding-top: 10px;
    }
  
    #left{
        height: 300px;
        width: 30%;
        float: left;
        overflow: scroll;
    }
    #content{
      height: max-content ;
     float: left;
       
    }
    #right{
        background-color: rgb(225, 217, 217);
          clear: both;
    }
    .min{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: brown;
    }
 </style>
<body>
    <div id="head"> <img src="./img/z5213552938532_ee5c3eb085288e0fc93a3294738b79c7 (1).jpg" alt="" style="width: 8%;;"></div>
    <div id="head_Link">
        <a href="https://www.coolmate.me/post/doraemon-tap-dai-2404"> Phim hoat hinh</a>|
        <a href="https://toplist.vn/top-list/phim-hoat-hinh-duoc-yeu-thich-nhat-2488.htm">phim hoạt hình yêu thích </a> |
        <a href="https://nguoinoitieng.tv/nghe-nghiep/nhat-vat-hoat-hinh/xuka/bbhh">Nhân vật hoạt hình </a>|
        <a href="#">Góp ý</a>|
    </div>
    <div id="left">
        <p class="min">1. Nobita Và Chuyến Thám Hiểm Nam Cực Kachi Kochi – Kachi Kochi Nobita’s Antarctic Big Adventure </p>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/7OrIOF5Up5A?si=q1CW1nKQxAUXfPmd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>Phim Doraemon tập dài “Nobita Và Chuyến Thám Hiểm Nam Cực Kachi Kochi” xoay quanh chuyến hành trình của Nobita và các bạn trở về Nam Cực 100 ngàn năm trước. Tại đây, họ không chỉ lần theo dấu vết của chiếc nhẫn vàng cổ mà Nobita vô tình tìm thấy ở Nam Thái Bình Dương hiện đại, mà còn phải tìm cách tiêu diệt Blizzaga, kẻ đã đóng băng hành tinh Hyoga Hyoga để giúp những người bạn của mình.</p><br>
        <p class="min">2. Nobita Và Những Hiệp Sĩ Không Gian – Nobita No Space Heroes </p>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/DdhWonvPe54?si=0Xp-VfaJZ4Hg7QjK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>Trong một lần sử dụng bảo bối “Đạo diễn Burger" của Doraemon để vào vai các anh hùng vũ trụ, nhóm bạn của Nobita đã bị một người ngoài hành tinh tên Aron nhận nhầm là siêu anh hùng thật và đến cầu cứu. Nhận lời thỉnh cầu của Aron - chính là cảnh sát trưởng của hành tinh Pokkoru, Nobita và các bạn đã cùng nhau giải cứu hành tinh này thoát khỏi cảnh diệt vong.</p><br>
        <p class="min">3. Nobita Thám Hiểm Vùng Đất Mới – Doraemon: Nobita And The Haunts Of Evil</p>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/crCzScFWlcg?si=Y6rn32Hc4s098US7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        Sau khi bị gán tội hại chết vua cha, hoàng tử Kuntaku của Vương quốc Bouwanko trong lúc chiến đấu đã bị trượt chân xuống nước và trôi tới nơi ở của Nobita. “Tai nạn" này đã mở ra cuộc phiêu lưu cho Nobita và các bạn tới vương quốc Bouwanko - Vương quốc của các loài chó. Tại đây, họ đã giúp hoàng tử Kuntaku giành lại hoà bình và độc lập cho vương quốc.
        <p class="min">4.Nobita Và Truyền Thuyết Người Khổng Lồ Xanh – Nobita And The Legend Of The Green Giant </p>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/BQY53xLxfUY?si=8pemE-zkyz5QK5xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>“Nobita Và Truyền Thuyết Người Khổng Lồ Xanh” là bộ phim Dorarmon tập dài đề cao tình bạn và ý thức bảo vệ môi trường. Phim kể về một cây con tên Kibou, được Nobita biến thành một vật sống và sống cùng gia đình cậu. Thật không may, biến có xảy đến khiến Kibou phải rời xa Nobita để quay về trở “Hành tinh cây".</p>
     </div>
     <div id="content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8P75rpxPt-g?si=XGysRt7wNnQ7ycam" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
     </div>
 
    <div id="right">
        <p>Lời kết</p>
   </div>
   
</body>
</html>